*{
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

.center{ 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    background-color: #000000;
}
footer {
    position: fixed;
    bottom: 0;
    /* border: solid red 2px; */
    width: 100%;
    height: 30px;
    background-color: rgb(26, 26, 26);
    padding: 10px 0;
    z-index: 9;
}
footer section {
    position: relative;
    /* border: solid rgb(0, 0, 0) 2px; */
    height: 100%;
}

footer section ul {
    display: flex;
    gap: 20px;
    position: relative;
    height: 100%;
}
li {
    position: relative;
    height: 100%;
    list-style: none;
    cursor: pointer;
}
    li img {
        position: relative;
        /* border: solid red 2px; */
        height: 100%;
    }


.window {
    position: absolute;
    width: 300px;
        min-width: 300px;
    height: 200px;
        min-height: 20vh;
    background-color: #f1f1f1;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    resize: both;
    overflow: hidden; /* OK qui, gestiamo lo scroll nel content */
}

.active {
    /* border: solid red 2px; */
    opacity: 1 !important;
    display: block;
}
.close {
    /* border: solid red 2px; */
    opacity: 0 !important;
    display: none;
}
    .window-header {
        width: 100;
        padding: 5px;
        cursor: move;
        background-color: #111213; /* Colore tipico barra titolo attiva */
        color: #fff;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none; /* Impedisce la selezione del testo durante il trascinamento */
    }
        .window-header span img {
            height: 30px;
            margin-right: 10px;
        }
        .window-header button {
            padding: 5px;
            cursor: move;
            background-color: #ff000000; 
            width: 20px;
            height: 20px;
            color: #fff;
            border: none;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
            user-select: none; 
        }
        .window-header button:hover {
           background-color: red;
           cursor: pointer;
        }
    .window-content {
        flex: 1;
        padding: 10px;
        overflow: auto;
        box-sizing: border-box;
        overflow: auto;
    }


/* -------------
    OUTLOOCK
---------------
*/
form {
    flex-direction: column;
    position: relative;
    /* border: solid red 2px; */
    max-height: 100%;
}
form textarea, form input {
    width: 80%;
    max-width: 80%;
    min-width: 80%;
    max-height: 40%;
    height: 20px;
    padding: 5px 10px;
}

textarea {
    resize: vertical; /* opzionale: impedisce resize orizzontale */
    max-height: 100%; /* non esce dalla finestra */
}